.nav {
    width: 100%;
    height: var(--nav-height);
    background-color: var(--secondary-bg-color);
    border-bottom: var(--border);
    filter: drop-shadow(0px 2px 3px #00000016);
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.name {
    display: flex;
    align-items: center;
    justify-content: center;
}

.actions {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.name_input {
    width: 400px;
    text-align: center;
    font-size: 24px;
    padding-top: 2px;
    padding-bottom: 2px;
    border: 1px solid #FFFFFF;
}

.name_input:hover {
    border: var(--border);
}

.name_input:focus {
    border: 1px solid rgba(0, 126, 194, 0.5);
}


.finish_button {
    margin-right: 13px;
}
.saved_status {
    margin-bottom: 0px;
    margin-right: 10px;
    color: #b9b9b9;
    font-size: 14px;
}

