.sidebar {
    height: 100%;
    padding-left: 14px;
    padding-right: 14px;
    width: var(--sidebar-width);
    background-color: var(--secondary-bg-color);
    overflow: scroll;
    border-left: var(--border);
}
.title {
    margin-top: 14px;
    margin-bottom: 14px;
    font-size: 1rem;
    color: var(--secondary-text-color);
    font-weight: 400;
}

.container {
    margin-bottom: 10px;
}

.label {
    font-size: 14px;
}

.check_option_container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}

.check_option {
    margin-top: 0;
    margin-right: 8px;
}

.add_option {
    font-size: 13px;
    text-decoration: none;
    margin-bottom: 0px;
    cursor: pointer;
    
}

.label_add_container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.list_item {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    margin-top: 5px;
}

.front {
    position: relative;
    z-index: 100;
}

.delete {
    margin-right: 10px;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.drag_handle {
    margin-left: 4px;
    
}

.dragging_cursor {
    cursor: grabbing;
}

.hover_cursor {
    cursor: grab;
}