.required {
    color: red;
}

.text_field {
    height: 38px;
    color: var(--bs-tertiary-color);
}

.text_area {
    height: 86px;
    color: var(--bs-tertiary-color);
}

.hidden_disabled_text {
    opacity: 1.0 !important;
}

.component {
    padding-top: 7px;
    padding-bottom: 7px;
    padding-left: 26px;
    padding-right: 26px;
}

.front {
    position: relative;
    z-index: 100;
}

.selected {
    background-color: var(--bg-color);
    border-top: var(--border);
    border-bottom: var(--border);
    padding-top: 6px;
    padding-bottom: 6px;
    padding-left: 26px;
    padding-right: 26px;
}